coloredlogs
flatbuffers
numpy >= 1.21.6
packaging
protobuf
sympy
torch -f https://download.pytorch.org/whl/torch_stable.html
torchvision -f https://download.pytorch.org/whl/torch_stable.html
torchaudio -f https://download.pytorch.org/whl/torch_stable.html
pillow==9.5.0